body{
margin: 0%;
}

.enhaut{
    display: flex;
    text-align: center;
}

.lienreseau{
    color: white;
}

header{
    background-color: #f38e58;
    font-family: sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    position: sticky;
    top: 0%;
}

.lelogo{
    width: 25%;
}

.liensreseau{
    padding-top: 1.7%;
    width: 50%;
    padding-right: 1%;
    line-height: 25px;
}

.lienreseau{
    padding-right: 7%;
}

.prletel{
    padding-left: 10%;
}

.headerbuttons{
    padding-top: 1%;
    width: 30%;
    padding-bottom: 1%;
}

.headerbuttonstel{
    height: 0px;
    padding-top: 1%;
    width: 30%;
    padding-bottom: 1%;
    visibility: hidden;
}

.trial{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
    background-color: #022030;
    border-color: #022030;
    border-radius: 7px;
    border-style: solid;
    color: white;
    font-weight: bold;
    border-width:2px;
}

.login{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    border-color: white;
    background-color:transparent;
    border-style: solid;
    border-width:2px;
}

.trial:hover{
    background-color: #39464b;
    border-color: #39464b;
}

.login:hover{
    background-color:#f37e58 ;
}

.introheader{
    text-align: center;
    background-color: #f38e58;
    font-family: sans-serif;
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titreheader{
    color: white;
    font-size: 70px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: 500;
    letter-spacing: 2px;
}

.textheader{
    font-size: 20px;
    margin-top: 1%;
    color: rgb(56, 56, 56);
}

.main{
    display: flex;
    width: 80%;
    padding-left: 10%;
    font-family: sans-serif;
    color: rgb(85, 85, 85);
    font-size: 20px;
}

.milieugauche{
    max-width: 50%;
}

.field{
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-bottom: 5%;
    border-radius: 7px;
    border-style: solid;
    max-width: 60%;
}

.messagefield{
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom: 15%;
    padding-left: 2%;
    margin-bottom: 5%;
    border-radius: 7px;
    border-style: solid;
    margin-bottom: 5%;
    max-width: 60%;
}

.buttonsend{
    margin-right: 0%;
    padding-left: 47%;
}

.send{
    border-radius: 7px;
    border-style: solid;
    border-color: #f39b6b;
    background-color: #f39b6b;
    color: white;
    padding-right: 15%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 15%;
    font-weight: bold;
}

.send:hover{
    background-color:#f37e58 ;
    border-color: #f37e58;
}

.mid{
    color: #6ab6df;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10%;
}

.milie{
    max-width: 75%;
    padding-bottom: 1%;
}

.milieudroite{
    max-width: 50%;
    margin-left: 5%;
}

.halftitle{
    font-weight: 500;
    font-size: 25px;
    margin: 0%;
}

.reseau{
    display: flex;
}

.reseauicone{
    height: 40px;
    border-radius: 25px;
    background-color: #f39b6b;
    font-size: 30px;
    padding-top: 8px;
    max-width: 45px;
    min-width: 45px;
    color: rgba(255, 255, 255, 0.450);
}
.reseauicone:hover{
    background-color: #f3ba9b;
}

.reseauicon{
    padding-left: 20.5%;
}
.reseauiconfb{
    padding-left: 25%;
}

.textmid{
    margin: 0%;
    padding-top: 10%;
    padding-left: 2%;
}

.midlink{
    color: #f39b6b;
}

footer{
    font-family: sans-serif;
    background-color: #333333;
    color: rgb(121, 121, 121);
    margin-top: 5%;
}

.footerlink{
    color: rgb(121, 121, 121);
}

.enbas{
    display: flex;
    padding-left: 5%;
    background-color: #404040;
}

.boxenbas{
    max-width: 30%;
    padding-right: 5%;
    line-height: 30px;
    padding-bottom: 2%;
}

.petititre{
    font-size: 15px;
    font-weight: lighter;
    color: white;
}

.copyright{
    display: flex;
    padding-left: 5%;
    font-weight: 100
}

.copylink{
    color: #f39b6b;
}

.footerbutton{
    padding: 6%;
    border-color: #022030;
    background-color:#022030 ;
    border-radius: 7px;
    border-style: solid;
    color: white;
    font-weight: bold;
}

.footerbutton:hover{
    background-color: #39464b;
    border-color: #39464b;
}

.footericone{
    color: #f39b6b;
    cursor:pointer;
}

@media (max-width: 750px) {
    .introheader{
        margin-top: -1px;
    }
    .copyright{
        padding-right: 5%;
    }
    .enhaut{
        display: inline;
    }
    .headerbuttons{
        height: 0px;
    }
    .liensreseau{
        font-size: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 1%;
        max-width: 100%;
        min-width: 100%;
        line-height: 15px;
    }
    .lienreseau{
        padding-bottom: 5%;
        max-width: 100%;
        min-width: 100%;
    }
    .lelogo{
        padding-left: 3%;
        padding-top: 3%;
        padding-right: 25%;
        padding-bottom: 10%;
    }
    .headerbuttons{
        visibility: hidden;
    }
    .headerbuttonstel{
        visibility: visible;
        padding-left: 5%;
        padding-bottom: 10%;
    }
    .prletel{
        display: flex;
    }
    .trial{
        margin-bottom: 6%;
    }
    .titreheader{
        font-size: 30px;
        margin-top: 0%;
    }
    .textheader{
        margin-left: 4%;
        margin-right: 4%;
    }
    .main{
        display: inline;
        max-width: 75%;
        padding-right: 0%;
        margin-right: 0%;
    }
    .milieugauche{
        min-width: 100%;
        margin-left: 3px;
        padding-right: 0%;
        margin-right: 0%;
    }
    .mid{
        max-width: 90%;
        padding: 0px;
        margin-right: 0px;
    }
    .milie{
        max-width: 90%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
    .buttonsend{
        max-width: 50%;
        margin-right: 0px;
    }
    .milieudroite{
        min-width: 100%;
        margin-left: 3px;
        padding-right: 0%;
        margin-right: 0%;
    }
    .textmid{
        max-width: 75%;
        padding-right: 0%;
        margin-right: 0%;
    }
    .trial:hover{
        background-color: #022030;
        border-color:#022030 ;
        cursor:pointer;
    }
    .login:hover{
        background-color: transparent;
        border-color: white;
        cursor:pointer;
    }
    .send:hover{
        background-color: #f39b6b;
        border-color: #f39b6b;
        cursor:pointer;
    }
    .footerbutton:hover{
        background-color: #022030;
        border-color:#022030 ;
        cursor:pointer;
    }
    .enbas{
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 100%;
    }
    body{
        overflow-x: hidden;
        min-width: 100%;
        max-width: 100%;
        word-wrap: break-word;
    }
    .boxenbas{
        max-width: 75%;
    }
    footer{
        padding-right: 0%;
        margin-right: 0%;
        max-width: 100%;
    }
    .field{
        max-width: 55%;
    }
    .messagefield{
        max-width: 55%;
    }
    .reseauicone:hover{
        background-color: #f39b6b;
        cursor:pointer;
    }
    .halftitle{
        margin-top: 5%;
    }
    header{
        position: relative;
        z-index: 100;
    }
    .headerbuttonstelsticky{
        visibility: visible;
        position: sticky;
        top: 0%;
        height: 100%;
        background-color: #f38e58;
        text-align:right;
    }
    #st{
        margin-bottom: 1%;
        visibility: visible;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
        padding-right: 4%;
        padding-left: 4%;
        background-color: #022030a1;
        border-color: #022030a1;
        color: rgba(255, 255, 255, 0.801);
    }
    #sty{
        margin-bottom: 1%;
        visibility: visible;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
        padding-right: 4%;
        padding-left: 4%;
        background-color: #f38e58a1;
        color: rgba(255, 255, 255, 0.801);
        border-color: rgba(255, 255, 255, 0.801);;
    }
}

.headerbuttonstelsticky{
    visibility: hidden;
    height: 0px;
}